<% content_for :title do "All Discussion Replies" end %>
<div class="page-header">
    <div style="float: right">
        <a class="btn" href="discussion_message/new"><i class="icon-plus"></i>&nbsp;New</a>
    </div>
    <h1>All Discussion Replies</h1>
</div>

<% @discussion_message.each do |d| %>

    <div class="well well-lg">
      <%= d.title %><br />
      created by <%= d.user.name %> <%= d.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("at %I:%M %p on %m/%d/%Y") %>
    </div>

<% end %>