<% if current_group %>
<h1>Members in <%= current_group.groupname %></h1>
<p>The following people are in your group:</p>
<p>
<% @group_members.each do |user| %>
  <% if user.name %>
  	<%= mail_to user.email, user.name%><br>
  <% else %>
  	<i><%= mail_to user.email, user.email%> (pending)</i><br>
  <% end %>
<% end %>
</p>
<p><a href="/groups/add_user">Click here to add another roommate!</a></p>
<font color='red'><%= link_to 'Leave this group', "/groups/leave", :method => :post %></font>
<% end %>
