<% if current_group %>  <!--Checks if the current_user is in a group, if he/she is do not allow them to create a group -->
  <h1>You already have a group!</h1>
<% else %>
<% content_for :title do "Create a Group" end %>

<!-- Container for two column layout -->
<div class="container">
  <div class="row-fluid">
    <div id="left" class="span4 well">
    <!-- Left Content -->
      
  <h1>Create a Group</h1>
  
  <%= form_for @group, url: {action: "create"} do |f| %>  <!-- links the form to group and ensures the action goes to create and not index -->
    <% if @group.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @group.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field"> 
      <%= f.text_field :groupname, placeholder: 'Groupname'%>

    <div class="actions"><%= f.submit(:class => 'btn btn-info', :value => 'Create Group') %></div>
    </div> 
  <% end %>
  
  <!-- End Left Content -->
    </div>
<!--     <div id="right" class="span8 well">
    <!-- Right Content -->
    
    
    <!-- End Right Content -->
    </div>
  </div>
</div>
<% end %>


<style>
.container {
  min-height: 100%;
  overflow: hidden;
}

#right, #left {
  margin-bottom: auto;
  padding-bottom: auto;
}

</style>







