<!-- Container for two column layout -->

<div class="container">
	<div class="row-fluid">
		<div id="left" class="span5 well">
		<!-- Left Content -->		
		<div align="center" class="hero-unit" id="left">
				<h2> About the Name</h2>
			<h1><i class="fa fa-home fa-5x"></i></h1>
			<h2>δωμάτιο  |  do̱mátio</h2>
			<p class="lead"> Domátio translates to <em>Room</em> in Greek. </p></div>
		 <!-- End Left Content -->
		</div>
		<div class="span1"></div>
		<div id="right" class="span6 well">
		<!-- Right Content -->
		
		<h2> About the Site</h2>
		<p class="lead"> It can be a struggle to keep roommates on the same page with payments, chores, deadlines and social events. Roommates often have different schedules that make communication about activities and important payments difficult. Late payments, or last minute notices for deadlines don't ease tensions either. That's why we created Domatio! Domatio is a web app for roommates living together. 
<br><br>
Our vision for Domatio includes financial applications for roommates to split bills, keep track of who has paid, and email reminders for deadlines. There will also be a schedule uploader, that allows users to upload their schedules and compare them with one another, finding best times for movie nights and chores. There will also be discussion board as well as many other features.<br>

Thank you for visiting!  
</p>
		<!-- End Right Content -->
		</div>
	</div>
</div>

<style>
.container {
	min-height: 100%%;
	overflow: hidden;
}

#right, #left {

	margin-bottom: 0;
	padding-bottom: 0;
}

</style>

