<!-- Container for two column layout -->
<% content_for :title do "About" end %>

<div class="container">
  <div class="row-fluid">
    <div id="left" class="span6">
      <div align="center" class="hero-unit" style="padding:6px;" id="left">
          <h2 class="hidden-phone"> About the Name</h2>
        <h1 class="hidden-phone"><i class="fa fa-home fa-5x"></i></h1>
        <h2>δωμάτιο  |  do̱mátio</h2>
        <p class="lead"> Domátio translates to <em>Room</em> in Greek.</p></div>
      </div>
    <div id="right" class="span6 well" style="font-size: 18px;">
      <h2>About the Site</h2>
      <p>It can be a struggle to keep roommates on the same page with payments, chores, deadlines and social events. Roommates often have different schedules that make communication about activities and important payments difficult. Late payments or last minute notices for deadlines don't ease tensions either. That's why we created Domatio! Domatio is a web app for roommates living together. 
      </p><p>
      Domatio is a one-stop hub for roommates. Our website includes a discussion board, to send out public messages. We also provide financial applications for roommates to split bills and keep track of who has paid. We also keep a bill history and send out email reminders for deadlines, so you can toss out your spreadsheets! Domatio also provides tools for roommates to assign chores to one another.</p><p>
      Thank you for visiting! Hopefully you find our tools of use to you and your roommates.</p>
      <p>Domatio was created using <%= link_to "Ruby on Rails 3.2.8", "http://rubyonrails.org/" %> and <%= link_to "Twitter Bootstrap 2.3.2", "http://getbootstrap.com/2.3.2/" %>.</p>
    </div>
  </div>
</div>

<style>
.container {
  min-height: 100%%;
  overflow: hidden;
}

#right, #left {

  margin-bottom: 0;
  padding-bottom: 0;
}

</style>