<% content_for :title do "Frequently Asked Questions" end %> 
<div class="hero-unit" style="font-size: 120%; padding:20px">
  <h1 style="font-size: 36px" align="center">Frequently Asked Questions</h1>
    <p>
<div class="accordion" id="accordion13">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        What is Domatio?
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        Domatio is a one-stop hub for roommates. Our website includes a discussion board, to send out public messages. We also provide financial applications for roommates to split bills and keep track of who has paid. We also keep a bill history and send out email reminders for deadlines, so you can toss out your spreadsheets! Domatio also provides tools for roommates to assign chores to one another.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        How do I invite my roommates to a group?
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Once you've created an account, you can send out invites via email.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
        How many roommates can I add?
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        There is not a limit to the amount of roommates you can have.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">
        Can I change my username or email?
      </a>
    </div>
    <div id="collapse4" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes. You can change your username and email on the account settings page.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5">
        I forgot my password! Is there any way to retrieve it?
      </a>
    </div>
    <div id="collapse5" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes. To reset your password, click <a href="/password_resets/new">here</a>.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6">
        I forgot the email I signed up with! Is there any way to retrieve it?
      </a>
    </div>
    <div id="collapse6" class="accordion-body collapse">
      <div class="accordion-inner">
        Not at this moment. If there are other users in your group, they may be able to provide you the email you signed up with.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7">
        What is the news feed?
      </a>
    </div>
    <div id="collapse7" class="accordion-body collapse">
      <div class="accordion-inner">
        The news feed is your home page when you log into Domatio. On the news feed, you will find Bills and Chores that are due within 3 days, and Discussions that have been posted/created in the past 3 days.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapse8">
        Can I change the name of my group name?
      </a>
    </div>
    <div id="collapse8" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes. Any one in the group can change the group name.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapse9">
        Is there a group admin?
      </a>
    </div>
    <div id="collapse9" class="accordion-body collapse">
      <div class="accordion-inner">
        No specific user has any more priviledges than the other. All users can edit the group name and chores. However, you cannot manage bills that you have not created or delete discussion posts that are not yours.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion10" href="#collapse10">
        Can I be in many groups at once?
      </a>
    </div>
    <div id="collapse10" class="accordion-body collapse">
      <div class="accordion-inner">
        No, currently you need seperate accounts for each group you are in.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion11" href="#collapse11">
        Can I leave a group?
      </a>
    </div>
    <div id="collapse11" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes, you are allowed to leave a group.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion12" href="#collapse12">
        Can I delete my group?
      </a>
    </div>
    <div id="collapse12" class="accordion-body collapse">
      <div class="accordion-inner">
        No. Groups are only deleted once every user leaves the group.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion13" href="#collapse13">
        Can I delete my account?
      </a>
    </div>
    <div id="collapse13" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes. You can delete your account from our account settings.
      </div>
    </div>
  </div>
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion14" href="#collapse14">
        Can I delete my account?
      </a>
    </div>
    <div id="collapse14" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes. You can delete your account from our account settings.
      </div>
    </div>
  </div>
</div>

    If there is any other questions, concerns, suggestions or issues <a href="/contact">contact us</a>.
