<% if current_user %>
<h1>You are currently logged in!</h1>
<font color='red'>This code is seen to logged in users! Place group feed here!</font>
<% else %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!--Remove soon-->
<%= link_to "Log In", "/login" %><br>
<%= link_to "Sign Up", "/signup" %>

	<!-- This code is seen to users who are NOT logged in.-->
<div class="container">
        	<div class="row-fluid">
            	<div class="span12">
                	<div class="span6">
                    	<div class="area">
                            <form class="form-horizontal" action="/sessions/" method="POST">
                                <div class="heading">
                                    <h1 class="form-heading" align="center">Log In</h1><br>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="password" id="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-info">Log In</button>
                                    </div>
                                </div>	
                                <div class="alert alert-error">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Incorrect Username or Password!
                                </div>
                            </form>	
						</div>                           
                    </div>
                    <div class="span6">
                    	<div class="area">
                            <form class="form-horizontal" action="/users/" method="POST">
                                <div class="heading">
                                    <h1 class="form-heading" align="center">Sign Up!</h1><br>
                                </div>
                              
                              
                                <div class="control-group">
                                  
                                    <div class="controls">
                                        <input type="text" name="user[name]" placeholder="Name">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" name="user[email]" placeholder="Email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="password" name="user[password]" placeholder="Create Password">                                      
                                    </div>
                                </div>
                                 <div class="control-group">
                                    <div class="controls">
                                        <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">                                      
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-info">Sign Up</button>
                                    </div>
                                </div>	
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                  <i class="icon-envelope"></i><strong>	Great!</strong> A confirmation email has been sent to your email.<br>
                                </div>
                            </form>	
						</div>                            
                    </div>
                </div>
            </div>
        </div>
<% end %>